.venv/
.idea/
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak

# IDEs and editors
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Other tools
.tox/
.nox/
.env
